
<section>
    <div class="container order-success-container">
        <div class="popup" id="popup">
            <img src="/images/tick-icon.jpg" alt="">
            <h2>Thank you!</h2>
            <p>your details has been successfully submitted. Thanks!</p>
             <a href="/orders" class="btn btn-success">View orders</a>
            <button type="button"><a id="popup-ok" href="/">Ok</a></button>
        </div>
    </div>
</section>
