.title{
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.view-products-card{
    width: 90%;
    max-width: 400px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
}
.cb1{
    background-color: rgba(225, 225, 225, 0.1);
}
.card-image-top{
    border-radius: 30px;
    height: 12rem;
}
.add-to-cart-btn{
    border-radius: 2rem;
}
.add-to-cart-btn:hover{
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.3);
}